/*-----CSS RESET-----*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 75%;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffff;
    color: #ffff;
    line-height: 1.8em;
    margin: auto;
    display: grid;
}

div#projects {
            display: grid;
            grid-template-columns: 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% ;
            margin-top:240px
        }
        .project {
            grid-auto-columns: 1/4;
            margin-bottom: 80px;
            
        }
        
        div#projects p{
                grid-column: 2/5;
        }
        


header {
    margin: 6em 0;
}

header h1{
    font-style: normal;
    font-size: 3.25em;
    color: #F3C19F;
    text-align: center;
    font-weight: normal;
}

h2, h3, h4, h5 {
    font-weight: normal;
    color: #F3C19F;
    text-align: center;
    font-size: 2.25em;
    border-style: none;
}


/*-----TYPOGRAPHY-----*/

p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

}

blockquote cite {
    font-size: .75em;
}

/*-----LINKS-----*/

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    border-bottom: 1px dotted;
}

/*-----NAVIGATION-----*/

nav{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    background-color: #EB9B65;
    padding:1em 0;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav ul li {
    display: inline;
    margin:40px;
}

nav a:hover {
    border-bottom: none;
    color:#900c3f;
}

/*-----IMAGES-----*/

img {
    display:inline-grid;
    grid-auto-columns: 1/4;
    margin: 4em auto;
    padding:0;
    max-width:100%;
}
    .container {
    width:980px;
    float:left;
}
.img {
    width:245px;
    float:left;
    height:150px;
}

/*-----FOOTER-----*/

footer {
    text-align: center;
    font-size: 1.75em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

footer hr {
    margin-bottom: 3em 0;
}

footer p {
    margin-top:2em;
}