/*-----CSS RESET-----*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 75%;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffff;
    color: #ffff;
    line-height: 1.8em;
    margin: auto;
    display: grid;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;
}


header {
    margin: 6em 0;
}

header h1{
    font-style: normal;
    font-size: 3.25em;
    color: #F3C19F;
    text-align: center;
    font-weight: normal;
}

h2, h3, h4, h5 {
    font-weight: normal;
    color: #F3C19F;
    text-align: center;
    font-size: 2.25em;
    border-style: none;
}


/*-----TYPOGRAPHY-----*/

p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;
    color: black
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

}

blockquote cite {
    font-size: .75em;
}

/*-----LINKS-----*/

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    border-bottom: 1px dotted;
}

/*-----NAVIGATION-----*/

nav{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    background-color: #EB9B65;
    padding:1em 0;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav ul li {
    display: inline;
    margin:40px;
}

nav a:hover {
    border-bottom: none;
    color:#900c3f;
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 50px 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;}

.fa-twitter {
  background: #55ACEE;
    color: white;}
    
.fa-instagram {
  background: #125688;
    color: white;}

.fa-tumblr {
  background: #2c4762;
  color: white;
}
    
    

/*-----IMAGES-----*/

img {
    display:inline-grid;
    grid-auto-columns: 1/4;
    margin: 4em auto;
    padding:0;
    max-width:100%;
}
    .container {
    width:980px;
    float:left;
}
.img {
    width:245px;
    float:left;
    height:150px;
}

/*-----FOOTER-----*/

footer {
    text-align: center;
    font-size: 1.75em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

footer hr {
    margin-bottom: 3em 0;
}

footer p {
    margin-top:2em;
}